<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f0f0f0; text-align: center; padding: 20px;">

    <div style="max-width: 600px; margin: 0 auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #158dca;">Welcome User!</h2>
        <p>You have successfully logged in.</p>
        <p>Explore our Website!!</p>
        
    </div>

</body>
</html>
